footer {
    width: 100%;
    padding: 5px;
    text-align: center;
    min-height: 50px;
    max-height: 50px;
}

.container {
    min-height: calc(100vh - 265px);
}

#sub_nav {
    margin: 50px 0 15px 0;
    min-height: 150px;
    max-height: 150px;
    background-color: #d0d0d0;
    padding: 15px;
}

#login-msg {
    padding: 0 15px;
}

.card-body.card-product {
    text-align: center;
}

.list-group-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #ffffff;
}

#products-container > h1 {
    text-align: center;
    padding: 15px 0;
}

form#sub-nav-search {
    height: 100px;
    vertical-align: middle;
}

.product-col {
    margin: 15px 0;
}

.product-col > .card > .badge {
    font-size: 18px;
    font-weight: 400;
}
.sort-label {
    padding: 0 15px 0 0;
}
.amount-box{
    width: auto;
    padding: 0 15px 0 15px;
}
.color-thumb {
    border: 1px solid black;
    border-radius: 500px;
    padding: 5px 15px;
    color: #ffffff;
}

.recommended-product-slider {
    overflow: hidden;
    max-height: 300px;
    max-width: 100%;
}

.recommended-product-slider:hover {
    overflow-x: scroll;
}

#recommended-products {
    border-radius: 4px;
}

#recommended-products > .card-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#recommended-products > .recommended-product-slider {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


.recommended-product-slider > div > a > img {
    border: 1px solid #00b0f0;
    margin: 0 7.5px;
}
.recommended-product-slider > div > div > a > img:first-child {
    /*margin: 0 7.5px 0 0;*/
}
.recommended-product-slider > div > div > a > img:last-child {
    /*margin: 0 0 0 7.5px;*/
}
.featured {
    height: 150px;
    width: 150px;
    max-height: 150px;
    max-width: 150px;
}
.carousel-item.active{
    min-width: 100%;
}
.carousel-item > img, .carousel-item > video {
    min-width: 100%;
    margin-top: 30px;
}
.carousel-item > video {
    margin-bottom: -5px;
    background-color: #373a3c;
}
.carousel-indicators-container > .carousel-indicators.list-inline {
    width: 2000px !important;
    overflow: hidden;
}
.carousel-indicators-container > .carousel-indicators.list-inline:hover {
    overflow-x: scroll;
}
.carousel-indicators-container > .carousel-indicators.list-inline > li{
    background-color: transparent;
}
.carousel-indicators-container {
    width: 100%;
    overflow: hidden;
    padding: 15px 15px 0 15px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 4px solid #00b0f0;
}
.carousel-indicators-container:hover {
    overflow-x: scroll;
}
#product-carousel > .carousel-inner > .item > img, #product-carousel > .carousel-inner > .item > video {
    border: 1px solid #00b0f0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-height: 500px;
    max-height: 500px;
}
.label-tag {
    margin: 5px;
}
ul.carousel-indicators > li:first-child {
    /*margin-left: -3px;*/
}
ul.carousel-indicators > li:last-child {
    /*margin-right: -2px;*/
}

ul.carousel-indicators > li {
    background-color: transparent;
}

.product-thumb {
    border-radius: 4px;
    border: 1px solid #00b0f0;
}
label#options-label {
    font-weight: 600;
}


.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    width: 40px;
    height: 40px;
}

.img-zoom-result {
    border: 1px solid #d4d4d4;
    width: 300px;
    height: 300px;
}

#cartcount{
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark {
    min-height: 50px;
    max-height: 50px;
}